In [1]:
import pandas as pd

In [2]:
stock_data = pd.read_excel('combined_data_source_categories.xlsx',index_col=0)
stock_data = stock_data.rename(columns={'Close':'Close_today'})
#stock_data['Close_tomorrow'] = [0 for i in stock_data['Close_today']]
stock_data.head()

,id,Date,source,symbols,dayofweek,Close_today,Categories
0,1.019697e+18,2018-07-18,GoldmanSachs,GS,Wed,231.240005,Individual
1,1.019709e+18,2018-07-18,StockTwits,M,Wed,37.700001,Individual
2,1.019711e+18,2018-07-18,TheStreet,AIG,Wed,55.130001,Organization
3,1.019380e+18,2018-07-18,ThisLincolnian,AIG,Wed,55.130001,News Agency
4,1.019452e+18,2018-07-18,ConsumerFeed,AIG,Wed,55.130001,News Agency

In [3]:
stock_data_for_cal = stock_data[["symbols","Date","Close_today"]].drop_duplicates().dropna().sort_values(["symbols","Date"],ascending=True)

stock_data_for_cal.head()

      symbols       Date  Close_today
55709       A 2018-02-23    70.699997
55710       A 2018-02-26    70.580002
55711       A 2018-02-27    69.000000
55712       A 2018-02-28    68.589996
55713       A 2018-03-01    67.379997

In [4]:
stock_data_for_cal['symbols'].unique()

array(['A', 'AAL', 'AAOI', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABEV', 'ABT',
       'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADS', 'ADSK', 'AEE', 'AEP',
       'AES', 'AET', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN',
       'ALK', 'ALLE', 'AMAT', 'AMD', 'AMG', 'AMP', 'AMT', 'AMZN', 'AN',
       'ANSS', 'AON', 'APA', 'APD', 'APH', 'APRN', 'AUY', 'AVB', 'AVY',
       'AXP', 'AYI', 'AZO', 'BA', 'BABA', 'BAX', 'BBBY', 'BBY', 'BDX',
       'BEN', 'BHC', 'BIDU', 'BIIB', 'BLK', 'BMY', 'BSX', 'BWA', 'BXP',
       'BZUN', 'C', 'CAH', 'CAT', 'CCI', 'CCL', 'CHRW', 'CI', 'CINF',
       'CL', 'CLF', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMI', 'CMS', 'CNC',
       'CNP', 'COF', 'COG', 'COL', 'COO', 'COP', 'COST', 'CPB', 'CRM',
       'CSCO', 'CSX', 'CTAS', 'CTXS', 'CVS', 'CVX', 'CX', 'D', 'DAL',
       'DDR', 'DE', 'DFS', 'DG', 'DHI', 'DHR', 'DISCA', 'DISCK', 'DISH',
       'DKS', 'DLR', 'DLTR', 'DOV', 'DRI', 'DTE', 'DVN', 'DXC', 'EA',
       'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'ENDP',
       'EOG', 'EQIX', 'EQT', 'ERIC', 'ES', 'ESI', 'ESRX', 'ESS', 'ET',
       'ETN', 'ETR', 'EVHC', 'EW', 'EXC', 'EXPD', 'EXR', 'FB', 'FBHS',
       'FDX', 'FE', 'FEYE', 'FIS', 'FISV', 'FITB', 'FL', 'FLEX', 'FLR',
       'FMC', 'FRT', 'GE', 'GILD', 'GIS', 'GLW', 'GM', 'GNCA', 'GNTX',
       'GOOG', 'GOOGL', 'GPS', 'GRPN', 'GS', 'HAS', 'HCA', 'HD', 'HES',
       'HIBB', 'HIG', 'HIMX', 'HLT', 'HOLX', 'HON', 'HP', 'HPE', 'HPQ',
       'HRB', 'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE',
       'IDXX', 'IFF', 'ILMN', 'INCY', 'INFO', 'INTC', 'INTU', 'IP', 'IPG',
       'IR', 'IRM', 'ISRG', 'ITUB', 'IVZ', 'JBHT', 'JCI', 'JD', 'JNJ',
       'JNPR', 'JPM', 'JWN', 'K', 'KIM', 'KMB', 'KMI', 'KMX', 'KR', 'KSU',
       'L', 'LH', 'LITE', 'LLL', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LYB',
       'M', 'MA', 'MAA', 'MAR', 'MAS', 'MAT', 'MCD', 'MCHP', 'MCK',
       'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MMM', 'MO', 'MOMO',
       'MOS', 'MPC', 'MRK', 'MRO', 'MS', 'MSFT', 'MSI', 'MTB', 'MTD',
       'MU', 'MUR', 'NAVI', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI',
       'NKE', 'NLY', 'NOC', 'NOK', 'NOV', 'NRG', 'NSC', 'NTAP', 'NTNX',
       'NTRS', 'NUAN', 'NVAX', 'NWL', 'OAS', 'ODP', 'OKE', 'OMC', 'ON',
       'ORCL', 'ORLY', 'OXY', 'PBR', 'PDCO', 'PEG', 'PFE', 'PG', 'PH',
       'PHM', 'PLD', 'PM', 'PNC', 'PNR', 'PPG', 'PRGO', 'PRU', 'PTEN',
       'PXD', 'PYPL', 'QCOM', 'QQQ', 'QRVO', 'RAD', 'RCL', 'RE', 'REG',
       'REGN', 'RF', 'RHI', 'RIG', 'ROP', 'ROST', 'RRC', 'RSG', 'SAN',
       'SBUX', 'SCHW', 'SIG', 'SIRI', 'SJM', 'SLB', 'SLCA', 'SLG', 'SLM',
       'SNAP', 'SNPS', 'SPG', 'SQQQ', 'SRC', 'SRCL', 'SRPT', 'STT', 'STX',
       'STZ', 'SWK', 'SWN', 'SYF', 'SYY', 'T', 'TAP', 'TEL', 'TGT', 'TJX',
       'TMO', 'TMUS', 'TQQQ', 'TRIP', 'TROW', 'TRQ', 'TRV', 'TSCO', 'TSM',
       'TSN', 'TVIX', 'TWTR', 'TXN', 'TXT', 'UA', 'UDR', 'UHS', 'UNM',
       'UPS', 'USB', 'V', 'VALE', 'VIPS', 'VLO', 'VRTX', 'VZ', 'WAT',
       'WBA', 'WDC', 'WEC', 'WFC', 'WHR', 'WLL', 'WLTW', 'WM', 'WRK',
       'WU', 'WY', 'WYNN', 'XEC', 'XEL', 'XLNX', 'XOM', 'XRAY', 'XRX',
       'XYL', 'YNDX', 'YUM', 'ZBH', 'ZNGA', 'ZTS'], dtype=object)

In [5]:

    #if stock_data['symbols'] == i:
        #for j,k in enumerate(stock_data['Close_tomorrow']):
             #k = stock_data['Close_today'][j+1]

In [6]:
list1 = []
temp=0
l = stock_data_for_cal['symbols'].unique()
for k in l:
    for i,j in enumerate(stock_data_for_cal['symbols']):
        if k==j and i>temp:
            temp=i
    list1.append(temp)

In [7]:
list1

[109,
 219,
 329,
 439,
 549,
 659,
 769,
 879,
 989,
 1099,
 1209,
 1319,
 1429,
 1539,
 1649,
 1759,
 1869,
 1979,
 2089,
 2199,
 2309,
 2419,
 2529,
 2639,
 2749,
 2859,
 2969,
 3079,
 3189,
 3299,
 3409,
 3519,
 3629,
 3739,
 3849,
 3959,
 4069,
 4179,
 4289,
 4399,
 4509,
 4619,
 4729,
 4839,
 4949,
 5059,
 5169,
 5279,
 5389,
 5499,
 5609,
 5719,
 5829,
 5939,
 6049,
 6159,
 6269,
 6379,
 6489,
 6599,
 6709,
 6819,
 6929,
 7039,
 7149,
 7259,
 7369,
 7479,
 7589,
 7699,
 7809,
 7919,
 8029,
 8139,
 8249,
 8359,
 8469,
 8579,
 8689,
 8799,
 8909,
 9019,
 9129,
 9239,
 9347,
 9457,
 9567,
 9677,
 9787,
 9897,
 10007,
 10117,
 10227,
 10337,
 10447,
 10557,
 10667,
 10777,
 10887,
 10997,
 11107,
 11217,
 11327,
 11437,
 11547,
 11657,
 11767,
 11877,
 11987,
 12097,
 12207,
 12317,
 12427,
 12537,
 12647,
 12757,
 12867,
 12977,
 13087,
 13197,
 13307,
 13417,
 13527,
 13637,
 13747,
 13857,
 13967,
 14077,
 14187,
 14297,
 14407,
 14517,
 14627,
 14737,
 14847,
 14957,
 15067,
 15177,
 15287,
 15397,
 15507,
 15617,
 15727,
 15837,
 15947,
 16057,
 16167,
 16277,
 16387,
 16497,
 16607,
 16717,
 16827,
 16937,
 17047,
 17157,
 17267,
 17377,
 17487,
 17597,
 17707,
 17817,
 17927,
 18037,
 18147,
 18257,
 18367,
 18477,
 18587,
 18697,
 18807,
 18917,
 19027,
 19137,
 19247,
 19357,
 19467,
 19577,
 19687,
 19797,
 19907,
 20017,
 20127,
 20237,
 20347,
 20457,
 20567,
 20677,
 20787,
 20897,
 21007,
 21117,
 21227,
 21337,
 21447,
 21557,
 21667,
 21777,
 21887,
 21997,
 22107,
 22217,
 22327,
 22437,
 22547,
 22657,
 22767,
 22877,
 22987,
 23097,
 23207,
 23317,
 23427,
 23537,
 23647,
 23757,
 23867,
 23977,
 24087,
 24197,
 24307,
 24417,
 24527,
 24637,
 24747,
 24857,
 24967,
 25077,
 25187,
 25297,
 25407,
 25517,
 25627,
 25737,
 25847,
 25957,
 26067,
 26177,
 26287,
 26397,
 26507,
 26617,
 26727,
 26837,
 26947,
 27057,
 27167,
 27277,
 27387,
 27497,
 27607,
 27717,
 27827,
 27937,
 28047,
 28157,
 28267,
 28377,
 28487,
 28597,
 28707,
 28817,
 28927,
 29037,
 29147,
 29257,
 29367,
 29477,
 29587,
 29697,
 29807,
 29917,
 30027,
 30137,
 30247,
 30357,
 30467,
 30577,
 30687,
 30797,
 30907,
 31017,
 31127,
 31237,
 31347,
 31457,
 31567,
 31677,
 31787,
 31897,
 32007,
 32117,
 32227,
 32337,
 32447,
 32557,
 32667,
 32777,
 32887,
 32997,
 33107,
 33217,
 33327,
 33437,
 33547,
 33657,
 33767,
 33877,
 33987,
 34097,
 34207,
 34317,
 34427,
 34537,
 34647,
 34757,
 34867,
 34977,
 35087,
 35197,
 35307,
 35417,
 35527,
 35637,
 35747,
 35857,
 35967,
 36077,
 36187,
 36297,
 36407,
 36517,
 36627,
 36737,
 36847,
 36957,
 37067,
 37177,
 37287,
 37397,
 37507,
 37617,
 37727,
 37837,
 37947,
 38057,
 38167,
 38277,
 38387,
 38497,
 38607,
 38717,
 38827,
 38937,
 39047,
 39157,
 39267,
 39377,
 39487,
 39597,
 39707,
 39817,
 39927,
 40037,
 40147,
 40257,
 40367,
 40477,
 40587,
 40697,
 40807,
 40917,
 41027,
 41137,
 41247,
 41357,
 41467,
 41577,
 41687,
 41797,
 41907,
 42017,
 42127,
 42237,
 42347,
 42457,
 42567,
 42677,
 42787,
 42897,
 43007,
 43117,
 43227,
 43337,
 43447,
 43557]

In [8]:
l=[]
current_index = 0
for i in stock_data_for_cal['symbols'].unique():
    for j,k in enumerate(stock_data_for_cal['symbols']):
        if k==i:
            if j < list1[current_index]:
                l.append(stock_data_for_cal.iloc[j+1]['Close_today'])
            elif j == list1[current_index]:
                l.append(stock_data_for_cal.iloc[j]['Close_today'])
    current_index = current_index + 1

In [9]:
l

[70.5800018310546,
 69.0,
 68.5899963378906,
 67.3799972534179,
 67.5100021362304,
 67.5500030517578,
 68.1100006103515,
 69.6999969482421,
 69.8499984741211,
 71.1299972534179,
 70.7099990844726,
 70.6800003051757,
 69.9199981689453,
 70.1800003051757,
 69.9000015258789,
 69.3399963378906,
 69.8499984741211,
 69.4000015258789,
 67.4700012207031,
 66.0599975585937,
 68.1999969482421,
 67.0,
 66.4000015258789,
 66.9000015258789,
 64.4300003051757,
 65.4199981689453,
 65.4499969482421,
 65.6800003051757,
 63.6500015258789,
 65.1900024414062,
 66.6399993896484,
 66.0800018310546,
 67.1999969482421,
 67.2099990844726,
 68.1699981689453,
 68.4400024414062,
 69.5500030517578,
 67.9700012207031,
 67.5500030517578,
 68.0699996948242,
 66.6399993896484,
 65.8000030517578,
 66.370002746582,
 66.2799987792968,
 65.7399978637695,
 66.2399978637695,
 65.9100036621093,
 66.3399963378906,
 67.0,
 67.3899993896484,
 67.370002746582,
 68.1299972534179,
 68.8600006103515,
 69.4499969482421,
 69.2099990844726,
 62.5,
 61.9399986267089,
 63.5900001525878,
 64.3199996948242,
 65.5500030517578,
 64.8399963378906,
 64.5299987792968,
 64.120002746582,
 63.1500015258789,
 61.849998474121,
 62.6899986267089,
 61.9199981689453,
 62.7799987792968,
 63.3800010681152,
 63.5200004577636,
 65.1900024414062,
 65.2300033569336,
 65.7300033569336,
 66.1299972534179,
 66.3199996948242,
 66.2600021362304,
 66.3099975585937,
 66.1299972534179,
 64.9700012207031,
 63.5200004577636,
 62.7900009155273,
 63.0400009155273,
 62.7900009155273,
 61.2000007629394,
 61.9799995422363,
 61.1399993896484,
 61.2900009155273,
 61.8400001525878,
 61.4700012207031,
 61.25,
 61.7999992370605,
 62.2900009155273,
 63.1199989318847,
 63.6699981689453,
 62.8600006103515,
 63.4500007629394,
 63.3800010681152,
 62.7200012207031,
 63.0400009155273,
 62.9900016784668,
 64.1500015258789,
 63.849998474121,
 63.7200012207031,
 64.7900009155273,
 65.9599990844726,
 66.75,
 65.75,
 64.6299972534179,
 66.0400009155273,
 66.0400009155273,
 55.0,
 54.2599983215332,
 54.25,
 53.4799995422363,
 53.1800003051757,
 53.1899986267089,
 53.5699996948242,
 54.1100006103515,
 54.7900009155273,
 56.0699996948242,
 56.5,
 56.2299995422363,
 55.2799987792968,
 55.1699981689453,
 55.4000015258789,
 54.6199989318847,
 55.3199996948242,
 54.0900001525878,
 52.310001373291,
 51.0099983215332,
 51.8600006103515,
 50.9000015258789,
 50.849998474121,
 51.9599990844726,
 49.7799987792968,
 51.4700012207031,
 52.0400009155273,
 52.1399993896484,
 50.2900009155273,
 49.8199996948242,
 47.4599990844726,
 45.4000015258789,
 46.5699996948242,
 45.8699989318847,
 46.4000015258789,
 45.75,
 47.7599983215332,
 46.8800010681152,
 46.7799987792968,
 46.6800003051757,
 45.6899986267089,
 45.25,
 42.3699989318847,
 43.4000015258789,
 42.9300003051757,
 43.3600006103515,
 42.2400016784668,
 42.1100006103515,
 42.8600006103515,
 42.4399986267089,
 43.0,
 41.5,
 42.0400009155273,
 42.599998474121,
 42.4599990844726,
 43.1899986267089,
 44.060001373291,
 43.6300010681152,
 43.3800010681152,
 44.2799987792968,
 42.8800010681152,
 42.7999992370605,
 43.560001373291,
 44.9099998474121,
 43.5900001525878,
 43.2999992370605,
 43.5400009155273,
 44.0,
 44.8600006103515,
 44.1800003051757,
 44.1899986267089,
 43.8400001525878,
 43.1100006103515,
 44.1599998474121,
 43.4099998474121,
 42.9199981689453,
 43.0800018310546,
 42.7700004577636,
 42.4399986267089,
 41.5099983215332,
 42.0299987792968,
 41.4900016784668,
 41.349998474121,
 39.6800003051757,
 39.0900001525878,
 38.2599983215332,
 38.2000007629394,
 37.9599990844726,
 38.3600006103515,
 37.75,
 37.9900016784668,
 38.0900001525878,
 39.310001373291,
 39.1199989318847,
 35.9599990844726,
 36.3300018310546,
 37.1199989318847,
 37.2799987792968,
 37.3800010681152,
 38.3699989318847,
 38.1300010681152,
 37.8800010681152,
 38.0400009155273,
 37.4500007629394,
 38.1899986267089,
 40.0200004577636,
 39.6899986267089,
 38.9700012207031,
 39.5400009155273,
 39.5400009155273,
 28.0,
 27.329999923706,
 27.9300003051757,
 27.8199996948242,
 27.9500007629394,
 27.5300006866455,
 27.4500007629394,
 26.7800006866455,
 27.9500007629394,
 28.7000007629394,
 30.9500007629394,
 29.5100002288818,
 29.1200008392334,
 26.7900009155273,
 26.7800006866455,
 26.2199993133544,
 26.6700000762939,
 26.7099990844726,
 25.9599990844726,
 25.3600006103515,
 24.5300006866455,
 24.6000003814697,
 23.6499996185302,
 25.0599994659423,
 24.0200004577636,
 24.0,
 24.2900009155273,
 24.6100006103515,
 24.0900001525878,
 24.3600006103515,
 25.4300003051757,
 29.1200008392334,
 29.5900001525878,
 30.1900005340576,
 29.9699993133544,
 28.329999923706,
 28.2900009155273,
 31.6399993896484,
 32.9900016784668,
 32.4599990844726,
 32.9000015258789,
 32.6199989318847,
 33.8400001525878,
 33.7599983215332,
 31.9599990844726,
 31.5300006866455,
 30.75,
 32.1399993896484,
 31.8400001525878,
 33.6399993896484,
 35.1300010681152,
 32.2599983215332,
 32.0900001525878,
 31.7800006866455,
 32.1899986267089,
 32.4000015258789,
 33.3199996948242,
 33.7400016784668,
 33.2200012207031,
 33.5099983215332,
 33.2599983215332,
 33.6699981689453,
 33.9300003051757,
 34.4900016784668,
 35.7200012207031,
 40.6199989318847,
 46.7700004577636,
 45.0200004577636,
 46.9500007629394,
 47.0400009155273,
 44.8600006103515,
 44.9799995422363,
 45.3600006103515,
 42.5200004577636,
 43.5200004577636,
 43.5800018310546,
 43.7400016784668,
 43.3800010681152,
 43.4700012207031,
 42.099998474121,
 42.1500015258789,
 43.1300010681152,
 43.75,
 40.25,
 42.75,
 41.2599983215332,
 42.6300010681152,
 44.9000015258789,
 45.9799995422363,
 45.9700012207031,
 46.0,
 46.0200004577636,
 45.3300018310546,
 45.7900009155273,
 45.7599983215332,
 48.7999992370605,
 47.7799987792968,
 48.6699981689453,
 47.4000015258789,
 43.0,
 42.5,
 41.7799987792968,
 41.9900016784668,
 38.2599983215332,
 38.2999992370605,
 39.7200012207031,
 38.2299995422363,
 37.9099998474121,
 38.4300003051757,
 38.4300003051757,
 114.849998474121,
 109.800003051757,
 114.25,
 117.51000213623,
 116.069999694824,
 116.360000610351,
 118.58999633789,
 116.769996643066,
 115.75,
 118.860000610351,
 118.410003662109,
 119.0,
 117.059997558593,
 117.099998474121,
 116.629997253417,
 115.870002746582,
 114.25,
 115.239997863769,
 111.709999084472,
 110.83999633789,
 114.769996643066,
 115.01000213623,
 115.980003356933,
 118.550003051757,
 111.930000305175,
 111.910003662109,
 114.480003356933,
 116.389999389648,
 111.910003662109,
 110.349998474121,
 112.139999389648,
 110.930000305175,
 110.569999694824,
 106.610000610351,
 106.449996948242,
 108.199996948242,
 107.389999389648,
 105.180000305175,
 103.76000213623,
 105.519996643066,
 106.930000305175,
 107.819999694824,
 113.180000305175,
 116.33999633789,
 114.449996948242,
 115.580001831054,
 115.900001525878,
 115.430000305175,
 116.669998168945,
 116.139999389648,
 116.800003051757,
 117.989997863769,
 118.230003356933,
 119.940002441406,
 121.610000610351,
 119.919998168945,
 119.029998779296,
 119.790000915527,
 118.319999694824,
 119.150001525878,
 115.330001831054,
 123.25,
 125.169998168945,
 124.910003662109,
 123.959999084472,
 128.529998779296,
 128.619995117187,
 128.33999633789,
 129.910003662109,
 129.949996948242,
 130.58999633789,
 130.050003051757,
 131.710006713867,
 132.729995727539,
 133.639999389648,
 132.679992675781,
 133.5,
 137.160003662109,
 138.240005493164,
 138.300003051757,
 139.160003662109,
 139.5,
 138.850006103515,
 137.27000427246,
 137.070007324218,
 134.380004882812,
 135.110000610351,
 135.699996948242,
 134.699996948242,
 135.009994506835,
 135.860000610351,
 137.169998168945,
 140.949996948242,
 140.649993896484,
 139.080001831054,
 138.789993286132,
 139.33999633789,
 139.669998168945,
 140.279998779296,
 139.970001220703,
 143.369995117187,
 142.669998168945,
 144.660003662109,
 139.990005493164,
 140.470001220703,
 141.779998779296,
 139.850006103515,
 140.679992675781,
 141.229995727539,
 141.229995727539,
 44.7425003051757,
 44.5974998474121,
 44.5299987792968,
 43.75,
 44.0525016784668,
 44.2050018310546,
 44.1674995422363,
 43.7574996948242,
 44.2350006103515,
 44.9949989318847,
 45.4300003051757,
 44.9925003051757,
 44.6100006103515,
 44.662498474121,
 44.5050010681152,
 43.8250007629394,
 43.810001373291,
 42.8175010681152,
 42.2125015258789,
 41.2350006103515,
 43.1925010681152,
 42.0849990844726,
 41.6199989318847,
 41.9449996948242,
 41.6699981689453,
 42.0974998474121,
 42.9025001525878,
 43.2000007629394,
 42.0950012207031,
 42.5125007629394,
 43.3125,
 43.1100006103515,
 43.5349998474121,
 43.6824989318847,
 43.9550018310546,
 44.560001373291,
 44.4599990844726,
 43.2000007629394,
 41.4300003051757,
 41.310001373291,
 40.7350006103515,
 40.912498474121,
 41.0550003051757,
 40.5800018310546,
 41.3149986267089,
 42.2750015258789,
 44.1425018310546,
 44.2224998474121,
 45.9575004577636,
 46.2900009155273,
 46.5125007629394,
 46.8400001525878,
 47.5099983215332,
 47.1474990844726,
 47.037498474121,
 46.6100006103515,
 47.0449981689453,
 46.747501373291,
 46.5774993896484,
 46.9075012207031,
 46.7900009155273,
 47.0900001525878,
 47.037498474121,
 47.1450004577636,
 46.974998474121,
 46.875,
 46.7174987792968,
 47.560001373291,
 47.9575004577636,
 48.3274993896484,
 48.4949989318847,
 48.3650016784668,
 47.9249992370605,
 47.8074989318847,
 48.0699996948242,
 47.6749992370605,
 47.7000007629394,
 47.2099990844726,
 47.185001373291,
 46.4225006103515,
 46.625,
 46.3650016784668,
 46.2299995422363,
 45.5424995422363,
 46.1074981689453,
 46.0400009155273,
 46.375,
 46.2775001525878,
 46.7949981689453,
 45.9799995422363,
 46.349998474121,
 46.9925003051757,
 47.6450004577636,
 47.5875015258789,
 46.9700012207031,
 47.7574996948242,
 47.8325004577636,
 47.7275009155273,
 47.8624992370605,
 47.599998474121,
 47.9700012207031,
 47.8600006103515,
 47.9025001525878,
 48.25,
 48.7050018310546,
 48.5525016784668,
 47.7449989318847,
 47.4775009155273,
 47.5724983215332,
 47.5724983215332,
 121.540000915527,
 118.26000213623,
 115.830001831054,
 113.83999633789,
 115.040000915527,
 115.660003662109,
 114.559997558593,
 114.720001220703,
 117.01000213623,
 119.290000915527,
 118.300003051757,
 119.75,
 118.940002441406,
 114.930000305175,
 113.709999084472,
 112.029998779296,
 112.650001525878,
 112.449996948242,
 98.0999984741211,
 97.4599990844726,
 95.2799987792968,
 92.0100021362304,
 94.2699966430664,
 94.6500015258789,
 91.4599990844726,
 90.5899963378906,
 92.9400024414062,
 92.2099990844726,
 89.7799987792968,
 90.4800033569336,
 93.620002746582,
 93.6399993896484,
 92.120002746582,
 91.8300018310546,
 92.5999984741211,
 93.5899963378906,
 94.3199996948242,
 93.0100021362304,
 92.5999984741211,
 93.1699981689453,
 91.3600006103515,
 91.870002746582,
 97.4400024414062,
 98.7300033569336,
 96.5500030517578,
 102.069999694824,
 100.370002746582,
 100.279998779296,
 100.169998168945,
 99.6299972534179,
 99.4000015258789,
 101.180000305175,
 102.849998474121,
 104.180000305175,
 105.889999389648,
 104.180000305175,
 105.040000915527,
 105.319999694824,
 105.980003356933,
 106.230003356933,
 106.230003356933,
 105.599998474121,
 103.139999389648,
 101.080001831054,
 99.4700012207031,
 103.01000213623,
 98.9400024414062,
 98.0500030517578,
 99.0999984741211,
 99.2399978637695,
 99.9800033569336,
 99.3199996948242,
 100.430000305175,
 99.7699966430664,
 98.9100036621093,
 97.5800018310546,
 98.75,
 99.5699996948242,
 98.4800033569336,
 98.0100021362304,
 98.25,
 95.5500030517578,
 93.4899978637695,
 93.0500030517578,
 92.120002746582,
 91.5100021362304,
 92.4300003051757,
 92.6500015258789,
 93.1100006103515,
 93.6100006103515,
 94.4800033569336,
 96.9199981689453,
 97.0400009155273,
 98.8399963378906,
 94.9599990844726,
 95.6100006103515,
 96.6299972534179,
 96.25,
 95.4100036621093,
 94.4000015258789,
 89.9499969482421,
 88.9100036621093,
 89.4000015258789,
 91.5400009155273,
 93.120002746582,
 93.9400024414062,
 90.5599975585937,
 91.4499969482422,
 92.2300033569336,
 92.2300033569336,
 100.580001831054,
 97.6399993896484,
 95.1600036621093,
 93.3000030517578,
 93.9599990844726,
 94.9000015258789,
 94.6999969482422,
 95.5999984741211,
 96.2399978637695,
 99.0,
 100.290000915527,
 100.599998474121,
 98.5800018310546,
 97.3600006103515,
 96.6100006103515,
 93.0,
 89.1900024414062,
 89.5,
 85.0,
 84.0299987792968,
 84.9499969482421,
 84.0100021362304,
 85.1100006103515,
 86.2099990844726,
 82.6699981689453,
 83.9300003051757,
 86.25,
 87.3799972534179,
 85.4100036621093,
 86.7900009155273,
 88.9100036621093,
 89.0899963378906,
 88.1900024414062,
 86.8199996948242,
 88.7699966430664,
 91.0400009155273,
 92.75,
 91.6900024414062,
 89.870002746582,
 90.7399978637695,
 90.1399993896484,
 91.4300003051757,
 92.0800018310546,
 93.0699996948242,
 90.5800018310546,
 89.1999969482421,
 92.1800003051757,
 85.370002746582,
 86.370002746582,
 84.6900024414062,
 84.6900024414062,
 84.7200012207031,
 85.5299987792968,
 86.8799972534179,
 87.2799987792968,
 85.6699981689453,
 85.9899978637695,
 87.0699996948242,
 84.7699966430664,
 84.3399963378906,
 84.5100021362304,
 83.9599990844726,
 84.0899963378906,
 85.4899978637695,
 82.5699996948242,
 84.1299972534179,
 82.1399993896484,
 83.3399963378906,
 84.3199996948242,
 84.7900009155273,
 87.1500015258789,
 86.5999984741211,
 86.0899963378906,
 87.2799987792968,
 88.0400009155273,
 90.6600036621093,
 93.3499984741211,
 94.8499984741211,
 91.5699996948242,
 92.1699981689453,
 93.2300033569336,
 93.2099990844726,
 93.5,
 92.2200012207031,
 90.3899993896484,
 89.8199996948242,
 86.0999984741211,
 85.2699966430664,
 85.7200012207031,
 86.6800003051757,
 87.1999969482421,
 87.9700012207031,
 88.25,
 88.1399993896484,
 87.1399993896484,
 86.8000030517578,
 87.9100036621093,
 86.9000015258789,
 86.8199996948242,
 86.3300018310546,
 85.5599975585937,
 84.6999969482421,
 84.75,
 83.9300003051757,
 84.7699966430664,
 83.2399978637695,
 82.9199981689453,
 82.9100036621093,
 81.8300018310546,
 81.8300018310546,
 6.82000017166137,
 6.78000020980835,
 6.75,
 6.80999994277954,
 6.88000011444091,
 6.88000011444091,
 7.07000017166137,
 7.05999994277954,
 7.09999990463256,
 7.13999986648559,
 7.30000019073486,
 7.28000020980835,
 7.38999986648559,
 7.19999980926513,
 7.13000011444091,
 7.17000007629394,
 7.09000015258789,
 7.26000022888183,
 7.17999982833862,
 7.15000009536743,
 7.19999980926513,
 7.07999992370605,
 7.1100001335144,
 7.26999998092651,
 7.1100001335144,
 7.17999982833862,
 7.21000003814697,
 7.1599998474121,
 6.8600001335144,
 6.78999996185302,
 6.94000005722045,
 7.0,
 6.76999998092651,
 6.75,
 6.67000007629394,
 6.76000022888183,
 6.88000011444091,
 6.88999986648559,
 6.80999994277954,
 6.75,
 6.69000005722045,
 6.6100001335144,
 6.6599998474121,
 6.69999980926513,
 6.61999988555908,
 6.57000017166137,
 6.34999990463256,
 6.34000015258789,
 6.32999992370605,
 6.26000022888183,
 6.26000022888183,
 6.03999996185302,
 6.09999990463256,
 6.01999998092651,
 5.94999980926513,
 5.82000017166137,
 5.80000019073486,
 5.6599998474121,
 5.51000022888183,
 5.46000003814697,
 5.51999998092651,
 5.51000022888183,
 5.55000019073486,
 5.44999980926513,
 5.19999980926513,
 5.26000022888183,
 5.26000022888183,
 5.26999998092651,
 5.34000015258789,
 5.17000007629394,
 5.07000017166137,
 4.84999990463256,
 5.09000015258789,
 5.07999992370605,
 5.05000019073486,
 5.0,
 5.01000022888183,
 4.98000001907348,
 4.98999977111816,
 5.0,
 4.88999986648559,
 4.82000017166137,
 4.80999994277954,
 4.84000015258789,
 4.75,
 4.63000011444091,
 4.69000005722045,
 4.63000011444091,
 4.65000009536743,
 4.69000005722045,
 4.71999979019165,
 4.65000009536743,
 4.67000007629394,
 4.80000019073486,
 4.6100001335144,
 4.71000003814697,
 4.80999994277954,
 4.92000007629394,
 5.0,
 4.8600001335144,
 4.8600001335144,
 4.92999982833862,
 4.90000009536743,
 4.98999977111816,
 5.09000015258789,
 5.30999994277954,
 5.28000020980835,
 5.25,
 5.13999986648559,
 5.13999986648559,
 60.5299987792968,
 60.5499992370605,
 60.3300018310546,
 58.7900009155273,
 59.4599990844726,
 60.3699989318847,
 60.8800010681152,
 61.2900009155273,
 61.8699989318847,
 63.599998474121,
 63.6199989318847,
 63.2000007629394,
 62.8600006103515,
 62.5900001525878,
 63.1800003051757,
 62.2599983215332,
 62.6500015258789,
 62.4199981689453,
 60.9300003051757,
 59.5,
 61.0699996948242,
 60.2799987792968,
 59.2299995422363,
 59.9199981689453,
 58.2099990844726,
 59.0,
 59.4599990844726,
 59.8600006103515,
 57.5699996948242,
 58.2200012207031,
 59.1399993896484,
 58.4500007629394,
 58.8300018310546,
 58.4900016784668,
 59.2700004577636,
 59.7999992370605,
 59.5200004577636,
 59.8800010681152,
 59.1899986267089,
 58.8400001525878,
 58.310001373291,
 58.6500015258789,
 59.5,
 59.560001373291,
 58.1300010681152,
 58.8199996948242,
 57.849998474121,
 57.9300003051757,
 58.7400016784668,
 59.3199996948242,
 58.7099990844726,
 59.4000015258789,
 60.560001373291,
 61.2599983215332,
 62.0200004577636,
 60.5400009155273,
 60.7700004577636,
 61.060001373291,
 61.7099990844726,
 62.1100006103515,
 61.3899993896484,
 61.8400001525878,
 62.5099983215332,
 62.3699989318847,
 61.2999992370605,
 62.0699996948242,
 61.5299987792968,
 62.4099998474121,
 63.0200004577636,
 63.0299987792968,
 63.5400009155273,
 63.1800003051757,
 63.2700004577636,
 63.1300010681152,
 62.9199981689453,
 62.6300010681152,
 62.9599990844726,
 62.9099998474121,
 62.8199996948242,
 62.3400001525878,
 62.1399993896484,
 61.75,
 61.9399986267089,
 60.7700004577636,
 60.810001373291,
 60.4900016784668,
 61.2700004577636,
 60.9900016784668,
 61.0,
 60.810001373291,
 61.3300018310546,
 62.1599998474121,
 62.4399986267089,
 62.810001373291,
 62.5699996948242,
 62.7400016784668,
 63.060001373291,
 61.7799987792968,
 62.7999992370605,
 64.75,
 63.7799987792968,
 63.3199996948242,
 63.2000007629394,
 64.4000015258789,
 65.2300033569336,
 65.6600036621093,
 65.2600021362304,
 65.1699981689453,
 65.5400009155273,
 65.5400009155273,
 164.740005493164,
 162.550003051757,
 161.009994506835,
 156.149993896484,
 157.5,
 158.850006103515,
 158.029998779296,
 158.550003051757,
 158.5,
 161.509994506835,
 ...]

In [10]:
stock_data_for_cal['Close_tomorrow'] = l

In [12]:
stock_data_for_cal['Percent_price_change'] = 100*((stock_data_for_cal['Close_tomorrow'] - stock_data_for_cal['Close_today'])/stock_data_for_cal['Close_today'])

In [13]:
stock_data_for_cal.head()

      symbols       Date  Close_today  Close_tomorrow  Percent_price_change
55709       A 2018-02-23    70.699997       70.580002             -0.169724
55710       A 2018-02-26    70.580002       69.000000             -2.238597
55711       A 2018-02-27    69.000000       68.589996             -0.594208
55712       A 2018-02-28    68.589996       67.379997             -1.764104
55713       A 2018-03-01    67.379997       67.510002              0.192943

In [14]:
stock_data = stock_data.drop(columns=['id','dayofweek'])
stock_data.head()

        Date          source symbols  Close_today    Categories
0 2018-07-18    GoldmanSachs      GS   231.240005    Individual
1 2018-07-18      StockTwits       M    37.700001    Individual
2 2018-07-18       TheStreet     AIG    55.130001  Organization
3 2018-07-18  ThisLincolnian     AIG    55.130001   News Agency
4 2018-07-18    ConsumerFeed     AIG    55.130001   News Agency

In [15]:
stock_data = stock_data.merge(stock_data_for_cal[['Date','symbols','Close_tomorrow','Percent_price_change']], how = 'left', on = ['Date','symbols'])

stock_data.head()

,Date,source,symbols,Close_today,Categories,Close_tomorrow,Percent_price_change
0,2018-07-18,GoldmanSachs,GS,231.240005,Individual,229.630005,-0.696247
1,2018-07-18,StockTwits,M,37.700001,Individual,38.959999,3.342171
2,2018-07-18,TheStreet,AIG,55.130001,Organization,53.849998,-2.321790
3,2018-07-18,ThisLincolnian,AIG,55.130001,News Agency,53.849998,-2.321790
4,2018-07-18,ConsumerFeed,AIG,55.130001,News Agency,53.849998,-2.321790

In [16]:
stock_data['Date'] = pd.to_datetime(stock_data['Date'])

In [17]:
stock_data['Day_of_week'] = stock_data['Date'].dt.dayofweek

In [18]:
stock_data['Week_number'] = stock_data['Date'].dt.week

/var/folders/1c/xy5l3bvx653590381s90cwv80000gn/T/ipykernel_33637/4019551260.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  stock_data['Week_number'] = stock_data['Date'].dt.week

In [19]:
stock_data['Month_number'] = stock_data['Date'].dt.month

In [20]:
stock_data.head()

,Date,source,symbols,Close_today,Categories,Close_tomorrow,Percent_price_change,Day_of_week,Week_number,Month_number
0,2018-07-18,GoldmanSachs,GS,231.240005,Individual,229.630005,-0.696247,2,29,7
1,2018-07-18,StockTwits,M,37.700001,Individual,38.959999,3.342171,2,29,7
2,2018-07-18,TheStreet,AIG,55.130001,Organization,53.849998,-2.321790,2,29,7
3,2018-07-18,ThisLincolnian,AIG,55.130001,News Agency,53.849998,-2.321790,2,29,7
4,2018-07-18,ConsumerFeed,AIG,55.130001,News Agency,53.849998,-2.321790,2,29,7

In [21]:
count = pd.DataFrame(stock_data.groupby(['symbols','Categories']).size())
count.sample(30)

                        0
symbols Categories
SYF     News Agency    12
DISCK   News Agency    13
ADS     Other         108
LMT     Individual     81
DISH    Other         106
CL      Other         108
ED      News Agency    21
AMD     News Agency    11
APA     Other         107
ABX     Individual     50
XEC     Organization    2
ECL     Individual     39
LNC     News Agency    10
EXPD    News Agency    17
NFLX    Individual     92
EOG     Other         107
EFX     Other         105
MRK     News Agency     8
EXR     News Agency    25
CAH     Individual     28
HOLX    Other         104
PTEN    Organization    7
HPE     Organization    3
PNC     Other         107
TMUS    Individual     46
GLW     Other         109
GILD    Other         109
BMY     Organization    1
VRX     Individual     66
AMP     News Agency    16

In [22]:
stock_data.head()

,Date,source,symbols,Close_today,Categories,Close_tomorrow,Percent_price_change,Day_of_week,Week_number,Month_number
0,2018-07-18,GoldmanSachs,GS,231.240005,Individual,229.630005,-0.696247,2,29,7
1,2018-07-18,StockTwits,M,37.700001,Individual,38.959999,3.342171,2,29,7
2,2018-07-18,TheStreet,AIG,55.130001,Organization,53.849998,-2.321790,2,29,7
3,2018-07-18,ThisLincolnian,AIG,55.130001,News Agency,53.849998,-2.321790,2,29,7
4,2018-07-18,ConsumerFeed,AIG,55.130001,News Agency,53.849998,-2.321790,2,29,7

In [28]:
check = stock_data[['Date','symbols','Percent_price_change']].drop_duplicates()

check[check.duplicated(['Date','symbols'])].sort_values(by = ['symbols'])

Empty DataFrame
Columns: [Date, symbols, Percent_price_change]
Index: []

In [29]:
stock_data.to_csv('stock_data.csv')